click==8.1.7
clip==1.0
dacite==1.8.1
diffusers==0.16.1
dominate==2.9.1
einops==0.8.0
flow_vis==0.1
GPUtil==1.4.0
hydra-core==1.3.2
imageio==2.27.0
jaxtyping==0.2.36
kornia==0.7.3
lightning==2.4.0
matplotlib==3.9.2
numpy==1.23.5
omegaconf==2.3.0
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==11.0.0
plyfile==1.1
PyExifTool==0.5.6
pytorch_lightning==1.5.0
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.5.2
scipy==1.14.1
setuptools==72.1.0
splines==0.3.2
torch==2.4.1
torchcubicspline==0.0.3
torchvision==0.19.1
tqdm==4.66.5
transformers==4.28.1
